body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

#file-input {
    margin-bottom: 20px;
}

#scan-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#scan-button:hover {
    background-color: #3e8e41;
}

#video {
    display: none;
}

#canvas {
    display: none;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
